/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins",
    sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4b5b63;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 470px;
  width: 100%;
  border-radius: 12px;
  padding: 20px 30px 50px;
  background: #353535;
  box-shadow: 0 5px 10px rgba(0,
      0,
      0,
      0.1);
  overflow: hidden;
}

.form header {
  font-size: 30px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  border-radius: 20px;
}

.wrapper form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}

form input {
  height: 30px;
  outline: none;
  border: none;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  border-radius: 8px;
  background: #fff;
}

form input[type="submit"]{
  cursor: pointer;
  height: 40px;
  margin-top: 20px;
}

.back {
  border: 0;
  border-radius: 8px;
  font-size: 15px;
  height: 30px;
  padding: 0 5px;
  margin-top: 10px;
  cursor: pointer;
}