body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
}
.mainContent {
    margin-left: 200px;
    padding: 20px;
}

.sidebar {
    height: 100vh;
    background-color: #555555;
    color: #ffffff;
    padding: 20px;
    float: left;
    display: block;
}

.sidebar:hover {
    width: 150px;
    transition: 0.5s;
    background-color: #555555;
}

.sidebar:hover a {
    opacity: 0;
    transition: 1s;
    opacity: 1;
}

.sidebar:not(:hover) {
    transition: 1s;
    width: 60px;
}

.sidebar:not(:hover) a {
    opacity: 1;
    transition: 0.5s;
    opacity: 0;
}

.sidebar a {
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
    padding: 10px;
    opacity: 0;
    border-radius: 2px;
    border: 1px;
}

.sidebar a:hover {
    background-color: #e20000;
    -webkit-animation: shadow-drop-2-center .1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-2-center .1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.sidebar a:active {
    background-color: #910000;
}

@-webkit-keyframes shadow-drop-2-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        -webkit-transform: translateZ(50px);
        transform: translateZ(50px);
        -webkit-box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.712);
        box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.712);
    }
}

@keyframes shadow-drop-2-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        -webkit-transform: translateZ(50px);
        transform: translateZ(50px);
        -webkit-box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.712);
        box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.712);
    }
}

.button {
    display: flex;
    padding-top: 40px;
}

.btn {
    color: #000000;
    width: 120px;
    height: 40px;
    border: 0;
    border-radius: 10px;
}

.btn:hover {
    background-color: #73ff7f;
    color: #3a3a3a;
    cursor: pointer;
    -webkit-animation: shadow-drop-2-center .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-2-center .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.btn:not(:hover) {
    transition: .5s;
    color: #000000;
    width: 120px;
    height: 40px;
    border: 0;
}

.btn:active {
    background-color: #00da12;
}